/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;500;700&family=Grand+Hotel&family=Plus+Jakarta+Sans:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap");
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Plus Jakarta Sans";
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5%;
}

header {
  background-color: #20484F;
  width: 100%;
}
header .navbar h4 {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
header .navbar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
header .navbar nav ul li a {
  color: #fff;
}
header .navbar .btn .sign-up {
  width: 82px;
  height: 41px;
  border: none;
  border-radius: 8px;
  color: #072125;
  background-color: #B8E4DA;
}
header .navbar .btn .log-in {
  width: 72px;
  height: 41px;
  border: none;
  color: #fff;
  background-color: transparent;
}
header .navbar .fa-bars {
  display: none;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  header .navbar nav ul li {
    display: none;
  }
  header .navbar .btn .log-in,
  header .navbar .btn .sign-up {
    display: none;
  }
  header .navbar .fa-bars {
    display: block;
  }
}

#hero {
  padding-top: 80px;
  padding-bottom: 24px;
}
#hero .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#hero .hero .hero-banner {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
#hero .hero .hero-banner h5 {
  font-size: 18px;
  line-height: 23px;
  color: #20484F;
}
#hero .hero .hero-banner h1 {
  font-size: 64px;
  line-height: 120%;
  color: #072125;
  font-weight: 700;
}
#hero .hero .hero-banner p {
  font-size: 24px;
  line-height: 150%;
}
#hero .hero .hero-banner .btn {
  display: flex;
  gap: 20px;
}
#hero .hero .hero-banner .btn .sign-up {
  width: 136px;
  height: 58px;
  border: none;
  border-radius: 8px;
  background-color: #20484F;
  color: #fff;
}
#hero .hero .hero-banner .btn .learn-more {
  width: 168px;
  height: 58px;
  border: 1px solid rgba(32, 72, 79, 0.1);
  border-radius: 8px;
  background-color: #fff;
}
#hero .hero .hero-banner .ui-31 {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: -1;
}
#hero .hero .hero-banner-img {
  display: flex;
  width: 50%;
  position: relative;
}
#hero .hero .hero-banner-img .bg-img {
  width: 415px;
  height: 490px;
  position: absolute;
  top: 9%;
  left: 11%;
}
#hero .hero .hero-banner-img .ui-element-1 {
  width: 432px;
  height: 193px;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
}
#hero .hero .hero-banner-img .ui-element-2 {
  width: 389px;
  height: 107px;
  position: absolute;
  top: 12%;
  left: 35%;
}
#hero .hero .hero-banner-img .ui-element-21 {
  width: 541px;
  height: 601px;
}
@media only screen and (max-width: 767px) {
  #hero .hero {
    flex-direction: column;
  }
  #hero .hero .hero-banner {
    width: 100%;
  }
  #hero .hero .hero-banner img {
    width: 100%;
  }
  #hero .hero .hero-banner-img {
    width: 100%;
  }
  #hero .hero .hero-banner-img img {
    width: 100%;
  }
}

#team {
  padding: 94px;
}
#team .team .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
#team .team .content h2 {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  color: #072125;
}
#team .team .content p {
  text-align: center;
  width: 50%;
  font-size: 16px;
  line-height: 150%;
  color: #20484F;
}
#team .team .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 57px;
  margin-top: 65px;
}
#team .team .cards img {
  width: 250px;
  height: 250px;
  border-radius: 24px;
}
#team .team .cards img:hover {
  opacity: 0.7;
}
#team .team .cards h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
  color: #072125;
}
#team .team .cards p {
  font-size: 18px;
  color: #20484F;
}
#team .team .cards .social-icon {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}
#team .team .cards .social-icon a {
  color: #072125;
  line-height: 50px;
}
#team .team .cards .social-icon a i {
  border: 1px solid grey;
  border-radius: 50%;
  padding: 10px;
}
@media only screen and (max-width: 767px) {
  #team .team .content p {
    width: 100%;
  }
  #team .team .cards {
    flex-direction: column;
  }
  #team .team .cards img {
    width: 100%;
  }
}

footer {
  background-color: #072125;
  color: #fff;
}
footer .footer {
  display: flex;
  justify-content: space-around;
  padding: 64px 0;
}
footer .footer .form {
  display: flex;
  flex-direction: column;
}
footer .footer .form h3 {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 15px;
}
footer .footer .form .features {
  padding-right: 70px;
}
footer .footer .form .free {
  padding-right: 25px;
}
footer .footer .form label {
  padding: 16px 0;
}
footer .footer .form .mail {
  padding-top: 23px;
  position: relative;
}
footer .footer .form .mail input {
  border-radius: 8px;
  width: 100%;
  height: 48px;
  border: 1px solid #072125;
  padding-left: 24px;
}
footer .footer .form .mail button {
  background: #B8E4DA;
  border-radius: 0px 8px 8px 0px;
  border: none;
  width: 136px;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .list {
  display: flex;
  gap: 75px;
}
footer .list h5 {
  line-height: 32px;
}
footer .list li {
  line-height: 32px;
}
footer .list li a {
  color: #B8E4DA;
}

.text {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 0;
}

@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    width: 100%;
  }
  .footer .form {
    align-items: center;
    height: 100%;
  }
  .footer .list {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .footer .list h5 {
    text-align: center;
  }
  .footer .list ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */