header {
  background-color: $primary-dark;
  width: 100%;
  .navbar {
    h4 {
      color: $pure-white;
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
    }
    nav {
      ul {
        @include flexBox;
        gap: 32px;
        li {
          a {
            color: $pure-white;
          }
        }
      }
    }
    .btn {
      .sign-up {
        width: 82px;
        height: 41px;
        border: none;
        border-radius: 8px;
        color: $darkest-primary;
        background-color: $primary-light;
      }
      .log-in {
        width: 72px;
        height: 41px;
        border: none;
        color: $pure-white;
        background-color: transparent;
      }
    }
    .fa-bars {
      display: none;
      color: $pure-white;
    }
  }
  @media only screen and (max-width: 767px) {
    .navbar {
      nav {
        ul {
          li {
            display: none;
          }
        }
      }
      .btn {
        .log-in,
        .sign-up {
          display: none;
        }
      }
    }
    .fa-bars {
      display: block;
    }
  }
}
