*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}
/* Navbar */
nav{
    background-color: rgb(248, 248, 248);
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    padding: 0 40px;
}
nav ul li:hover{
    background-color: rgb(95, 119, 172);
    border: 1px solid rgb(7, 7, 7);
    padding: 10px;

}

nav ul li a:hover{
    color:#fff;
    
}

nav i{
    color: darkblue;
  
}
/* Content */
.bg-img{
    height: 100vh;
    background-image: url(sea.jpg);
    background-size: cover;
}

.text{
    width: 50%;
    padding-top: 15%;
    padding-left: 30px;
}
.text h1{
    font-family: 'Kanit', sans-serif; 
    padding-bottom: 30px;
    text-shadow: 5px 5px 5px rgb(24, 72, 161);
}
.text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
    text-shadow: 5px 5px 5px rgb(24, 72, 161);
}
.text a{
    border: 2px solid black;
    padding: 10px;
}
.text a:hover{
    background-color: rgb(16, 76, 104);
    color: aliceblue;
}
/* Footer */
.code{
    height: 70vh;
    background-image: url(code.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.footer{
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 25vh;
}
.footer ul h3{
    padding-bottom: 20px;
}

.footer ul li{
    line-height: 30px;
}
.footer .icon{
  display: inline;
  padding: 5px;
}
.underline{
    border-bottom: 1px solid red;
    width: 50%;
}




        



